body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
}
#u496 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u497 {
  position:absolute;
  left:420px;
  top:42px;
  width:130px;
  height:80px;
}
#u498 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u499 {
  position:absolute;
  left:1330px;
  top:28px;
  width:160px;
  height:25px;
  color:#FFFFFF;
}
#u500 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u501 {
  position:absolute;
  left:1113px;
  top:21px;
  width:39px;
  height:39px;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u504 {
  position:absolute;
  left:929px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u505 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u506 {
  position:absolute;
  left:1162px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u507 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u508 {
  position:absolute;
  left:1041px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u509 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u510 {
  position:absolute;
  left:1266px;
  top:138px;
  width:84px;
  height:20px;
  color:#000000;
}
#u511 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u512 {
  position:absolute;
  left:1394px;
  top:138px;
  width:84px;
  height:20px;
  color:#000000;
}
#u513 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u514 {
  position:absolute;
  left:417px;
  top:206px;
  width:67px;
  height:25px;
  font-size:20px;
  color:#000000;
}
#u515 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u517 {
  position:absolute;
  left:0px;
  top:2798px;
  width:1919px;
  height:569px;
  font-size:12px;
}
#u518 {
  position:absolute;
  left:2px;
  top:276px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:221px;
}
#u519 {
  position:absolute;
  left:0px;
  top:2798px;
  width:1919px;
  height:221px;
  font-size:12px;
}
#u520 {
  position:absolute;
  left:2px;
  top:102px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u521 {
  position:absolute;
  left:942px;
  top:2923px;
  width:130px;
  height:33px;
  font-size:12px;
}
#u522 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523 {
  position:absolute;
  left:770px;
  top:2850px;
  width:468px;
  height:40px;
}
#u524 {
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u525 {
  position:absolute;
  left:770px;
  top:2824px;
  width:468px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u526 {
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u528 {
  position:absolute;
  left:420px;
  top:3053px;
  width:64px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u529 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u530 {
  position:absolute;
  left:420px;
  top:3093px;
  width:312px;
  height:122px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u531 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u533 {
  position:absolute;
  left:754px;
  top:3053px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u534 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u535 {
  position:absolute;
  left:781px;
  top:3103px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u536 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u537 {
  position:absolute;
  left:872px;
  top:3103px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u538 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u539 {
  position:absolute;
  left:962px;
  top:3103px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u540 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u542 {
  position:absolute;
  left:1077px;
  top:3053px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u543 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u545 {
  position:absolute;
  left:1093px;
  top:3123px;
  width:189px;
  height:55px;
}
#u546 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u547 {
  position:absolute;
  left:1089px;
  top:3085px;
  width:84px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u548 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  position:absolute;
  left:1093px;
  top:3228px;
  width:341px;
  height:55px;
}
#u551 {
  position:absolute;
  left:2px;
  top:20px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u552 {
  position:absolute;
  left:1079px;
  top:3188px;
  width:67px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u553 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u554 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  position:absolute;
  left:1310px;
  top:3123px;
  width:189px;
  height:55px;
}
#u556 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u557 {
  position:absolute;
  left:1301px;
  top:3085px;
  width:84px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u558 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u559 {
  position:absolute;
  left:1093px;
  top:3307px;
  width:130px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
}
#u560 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u561 {
  position:absolute;
  left:1180px;
  top:28px;
  width:160px;
  height:25px;
  color:#FFFFFF;
}
#u562 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:2555px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  position:absolute;
  left:-1px;
  top:243px;
  width:1919px;
  height:2555px;
}
#u564 {
  position:absolute;
  left:2px;
  top:1270px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u566 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u567 {
  position:absolute;
  left:793px;
  top:342px;
  width:335px;
  height:214px;
}
#u568 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u570 {
  position:absolute;
  left:795px;
  top:559px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u571 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u572 {
  position:absolute;
  left:795px;
  top:712px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u573 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u574 {
  position:absolute;
  left:795px;
  top:619px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u575 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u576 {
  position:absolute;
  left:793px;
  top:604px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#CCCCCC;
}
#u577 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u579 {
  position:absolute;
  left:420px;
  top:342px;
  width:335px;
  height:214px;
}
#u580 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u582 {
  position:absolute;
  left:420px;
  top:559px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u583 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u584 {
  position:absolute;
  left:420px;
  top:712px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u585 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u586 {
  position:absolute;
  left:420px;
  top:617px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u587 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u588 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u590 {
  position:absolute;
  left:1163px;
  top:559px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u591 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u592 {
  position:absolute;
  left:1163px;
  top:712px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u593 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u594 {
  position:absolute;
  left:1163px;
  top:619px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u595 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u596 {
  position:absolute;
  left:1161px;
  top:604px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#CCCCCC;
}
#u597 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u598 {
  position:absolute;
  left:1164px;
  top:342px;
  width:335px;
  height:214px;
}
#u599 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u601 {
  position:absolute;
  left:412px;
  top:287px;
  width:67px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u602 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u604 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u605 {
  position:absolute;
  left:793px;
  top:847px;
  width:335px;
  height:214px;
}
#u606 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u608 {
  position:absolute;
  left:795px;
  top:1064px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u609 {
  position:absolute;
  left:2px;
  top:3px;
  width:292px;
  word-wrap:break-word;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u610 {
  position:absolute;
  left:795px;
  top:1217px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u611 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u612 {
  position:absolute;
  left:795px;
  top:1124px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u613 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u615 {
  position:absolute;
  left:420px;
  top:847px;
  width:335px;
  height:214px;
}
#u616 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u618 {
  position:absolute;
  left:420px;
  top:1056px;
  width:296px;
  height:77px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u619 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u620 {
  position:absolute;
  left:420px;
  top:1217px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u621 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u622 {
  position:absolute;
  left:420px;
  top:1122px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u623 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u625 {
  position:absolute;
  left:410px;
  top:792px;
  width:67px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u626 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u629 {
  position:absolute;
  left:1163px;
  top:1064px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u630 {
  position:absolute;
  left:2px;
  top:3px;
  width:292px;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u631 {
  position:absolute;
  left:1163px;
  top:1217px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u632 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u633 {
  position:absolute;
  left:1163px;
  top:1124px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u634 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u635 {
  position:absolute;
  left:1164px;
  top:847px;
  width:335px;
  height:214px;
}
#u636 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u638 {
  position:absolute;
  left:793px;
  top:1265px;
  width:335px;
  height:214px;
}
#u639 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u641 {
  position:absolute;
  left:795px;
  top:1482px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u642 {
  position:absolute;
  left:2px;
  top:3px;
  width:292px;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u643 {
  position:absolute;
  left:795px;
  top:1635px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u644 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u645 {
  position:absolute;
  left:795px;
  top:1542px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u646 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u648 {
  position:absolute;
  left:420px;
  top:1265px;
  width:335px;
  height:214px;
}
#u649 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u651 {
  position:absolute;
  left:420px;
  top:1474px;
  width:296px;
  height:77px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u652 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u653 {
  position:absolute;
  left:420px;
  top:1635px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u654 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u655 {
  position:absolute;
  left:420px;
  top:1540px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u656 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u659 {
  position:absolute;
  left:1163px;
  top:1482px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u660 {
  position:absolute;
  left:2px;
  top:3px;
  width:292px;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u661 {
  position:absolute;
  left:1163px;
  top:1635px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u662 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u663 {
  position:absolute;
  left:1163px;
  top:1542px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u664 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u665 {
  position:absolute;
  left:1164px;
  top:1265px;
  width:335px;
  height:214px;
}
#u666 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u669 {
  position:absolute;
  left:793px;
  top:1805px;
  width:335px;
  height:214px;
}
#u670 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u672 {
  position:absolute;
  left:795px;
  top:2012px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u673 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u674 {
  position:absolute;
  left:795px;
  top:2175px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u675 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u676 {
  position:absolute;
  left:795px;
  top:2082px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u677 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u679 {
  position:absolute;
  left:420px;
  top:1805px;
  width:335px;
  height:214px;
}
#u680 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u682 {
  position:absolute;
  left:420px;
  top:2002px;
  width:296px;
  height:77px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u683 {
  position:absolute;
  left:2px;
  top:26px;
  width:292px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u684 {
  position:absolute;
  left:420px;
  top:2175px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u685 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u686 {
  position:absolute;
  left:420px;
  top:2080px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u687 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u689 {
  position:absolute;
  left:420px;
  top:1750px;
  width:86px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u690 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u693 {
  position:absolute;
  left:1163px;
  top:2013px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u694 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u695 {
  position:absolute;
  left:1163px;
  top:2175px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u696 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u697 {
  position:absolute;
  left:1163px;
  top:2082px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u698 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u699 {
  position:absolute;
  left:1164px;
  top:1805px;
  width:335px;
  height:214px;
}
#u700 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u703 {
  position:absolute;
  left:793px;
  top:2348px;
  width:335px;
  height:214px;
}
#u704 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u706 {
  position:absolute;
  left:795px;
  top:2555px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u707 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u708 {
  position:absolute;
  left:795px;
  top:2718px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u709 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u710 {
  position:absolute;
  left:795px;
  top:2625px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u711 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u713 {
  position:absolute;
  left:420px;
  top:2348px;
  width:335px;
  height:214px;
}
#u714 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u716 {
  position:absolute;
  left:420px;
  top:2545px;
  width:296px;
  height:77px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u717 {
  position:absolute;
  left:2px;
  top:26px;
  width:292px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u718 {
  position:absolute;
  left:420px;
  top:2718px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u719 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u720 {
  position:absolute;
  left:420px;
  top:2623px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u721 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u723 {
  position:absolute;
  left:419px;
  top:2293px;
  width:86px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u724 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u727 {
  position:absolute;
  left:1163px;
  top:2556px;
  width:296px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u728 {
  position:absolute;
  left:2px;
  top:16px;
  width:292px;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u729 {
  position:absolute;
  left:1163px;
  top:2718px;
  width:105px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u730 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u731 {
  position:absolute;
  left:1163px;
  top:2625px;
  width:296px;
  height:88px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u732 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
}
#u733 {
  position:absolute;
  left:1164px;
  top:2348px;
  width:335px;
  height:214px;
}
#u734 {
  position:absolute;
  left:2px;
  top:99px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
