.recruitCon .banner {
  background: #f3f3f3;
  width: 100%;
  max-height: 600px; }
  .recruitCon .banner img {
    width: 100%; }
.recruitCon .recruitMain {
  width: 1100px;
  margin: 10px auto 60px;
  overflow: hidden; }
  .recruitCon .recruitMain .recruit_l {
    width: 750px;
    float: left; }
    .recruitCon .recruitMain .recruit_l .relework {
      display: none; }
      .recruitCon .recruitMain .recruit_l .relework.NO {
        display: block; }
    .recruitCon .recruitMain .recruit_l h3 {
      color: #4898ea;
      font-size: 16px;
      margin: 30px 0 10px; }
    .recruitCon .recruitMain .recruit_l .position {
      border-bottom: 1px solid #dadada;
      padding-bottom: 30px;
      overflow: hidden; }
      .recruitCon .recruitMain .recruit_l .position > div {
        color: #777;
        font-size: 14px;
        float: left;
        margin: 10px 130px 10px 0;
        font-weight: bold; }
        .recruitCon .recruitMain .recruit_l .position > div span {
          color: #444;
          font-size: 14px; }
    .recruitCon .recruitMain .recruit_l .work {
      width: 100%; }
      .recruitCon .recruitMain .recruit_l .work p {
        font-size: 14px;
        line-height: 25px;
        color: #444;
        font-weight: 700; }
  .recruitCon .recruitMain .recruit_r {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    width: 300px; }
    .recruitCon .recruitMain .recruit_r h4 {
      font-size: 16px;
      color: #333;
      margin-bottom: 10px; }
    .recruitCon .recruitMain .recruit_r .label {
      padding-left: 20px; }
      .recruitCon .recruitMain .recruit_r .label a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding: 0 20px;
        color: #fff;
        background: #4898ea;
        transform: skew(-20deg);
        margin: 3px 0; }
        .recruitCon .recruitMain .recruit_r .label a span {
          display: inline-block;
          transform: skew(20deg); }
    .recruitCon .recruitMain .recruit_r .recommend {
      padding-left: 20px; }
      .recruitCon .recruitMain .recruit_r .recommend h4 {
        margin-top: 20px;
        border-bottom: 1px solid #ddd;
        padding: 14px 0;
        position: relative; }
        .recruitCon .recruitMain .recruit_r .recommend h4 i {
          display: inline-block;
          width: 35px;
          border-bottom: 2px solid #ea4848;
          position: absolute;
          bottom: 0;
          left: 0; }
      .recruitCon .recruitMain .recruit_r .recommend ul li {
        height: 60px;
        width: 100%;
        text-indent: 10px; }
        .recruitCon .recruitMain .recruit_r .recommend ul li:nth-child(2n) {
          background: #e6e6e6; }
        .recruitCon .recruitMain .recruit_r .recommend ul li.active {
          border-left: 2px solid #ea4848; }
        .recruitCon .recruitMain .recruit_r .recommend ul li a {
          display: inline-block;
          width: 100%;
          height: 26px;
          color: #777;
          padding: 17px 0;
          text-indent: 0; }
          .recruitCon .recruitMain .recruit_r .recommend ul li a p {
            color: #444;
            font-weight: 700; }

/*# sourceMappingURL=recruit.css.map */
