body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
}
#u197 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u198 {
  position:absolute;
  left:420px;
  top:42px;
  width:130px;
  height:80px;
}
#u199 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:1330px;
  top:28px;
  width:160px;
  height:25px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u202 {
  position:absolute;
  left:1113px;
  top:21px;
  width:39px;
  height:39px;
  color:#FFFFFF;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u205 {
  position:absolute;
  left:929px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u206 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u207 {
  position:absolute;
  left:1162px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u209 {
  position:absolute;
  left:1041px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u211 {
  position:absolute;
  left:1266px;
  top:138px;
  width:84px;
  height:20px;
  color:#000000;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u213 {
  position:absolute;
  left:1394px;
  top:138px;
  width:84px;
  height:20px;
  color:#000000;
}
#u214 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u215 {
  position:absolute;
  left:420px;
  top:206px;
  width:84px;
  height:25px;
  font-size:20px;
  color:#000000;
}
#u216 {
  position:absolute;
  left:2px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:3361px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  position:absolute;
  left:0px;
  top:251px;
  width:1919px;
  height:3361px;
}
#u218 {
  position:absolute;
  left:2px;
  top:1672px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u220 {
  position:absolute;
  left:0px;
  top:3612px;
  width:1919px;
  height:569px;
  font-size:12px;
}
#u221 {
  position:absolute;
  left:2px;
  top:276px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:221px;
}
#u222 {
  position:absolute;
  left:0px;
  top:3612px;
  width:1919px;
  height:221px;
  font-size:12px;
}
#u223 {
  position:absolute;
  left:2px;
  top:102px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u224 {
  position:absolute;
  left:942px;
  top:3737px;
  width:130px;
  height:33px;
  font-size:12px;
}
#u225 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  position:absolute;
  left:770px;
  top:3664px;
  width:468px;
  height:40px;
}
#u227 {
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u228 {
  position:absolute;
  left:770px;
  top:3638px;
  width:468px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u229 {
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u231 {
  position:absolute;
  left:420px;
  top:3867px;
  width:64px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u232 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u233 {
  position:absolute;
  left:420px;
  top:3907px;
  width:312px;
  height:122px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u234 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:754px;
  top:3867px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:781px;
  top:3917px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u239 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:872px;
  top:3917px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u241 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u242 {
  position:absolute;
  left:962px;
  top:3917px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u243 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u245 {
  position:absolute;
  left:1077px;
  top:3867px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:1093px;
  top:3937px;
  width:189px;
  height:55px;
}
#u249 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u250 {
  position:absolute;
  left:1089px;
  top:3899px;
  width:84px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u251 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:1093px;
  top:4042px;
  width:341px;
  height:55px;
}
#u254 {
  position:absolute;
  left:2px;
  top:20px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u255 {
  position:absolute;
  left:1079px;
  top:4002px;
  width:67px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u256 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  position:absolute;
  left:1310px;
  top:3937px;
  width:189px;
  height:55px;
}
#u259 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u260 {
  position:absolute;
  left:1301px;
  top:3899px;
  width:84px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u261 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u262 {
  position:absolute;
  left:1093px;
  top:4121px;
  width:130px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
}
#u263 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u264 {
  position:absolute;
  left:1180px;
  top:28px;
  width:160px;
  height:25px;
  color:#FFFFFF;
}
#u265 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u267 {
  position:absolute;
  left:1045px;
  top:315px;
  width:134px;
  height:25px;
  color:#FFFFFF;
}
#u268 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u269 {
  position:absolute;
  left:1045px;
  top:350px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u270 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:477px;
}
#u271 {
  position:absolute;
  left:0px;
  top:291px;
  width:1035px;
  height:477px;
  font-size:50px;
}
#u272 {
  position:absolute;
  left:2px;
  top:209px;
  width:1031px;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u273 {
  position:absolute;
  left:1045px;
  top:382px;
  width:454px;
  height:253px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u274 {
  position:absolute;
  left:2px;
  top:22px;
  width:450px;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u275 {
  position:absolute;
  left:1045px;
  top:645px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u276 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:477px;
}
#u278 {
  position:absolute;
  left:884px;
  top:857px;
  width:1035px;
  height:477px;
  font-size:50px;
}
#u279 {
  position:absolute;
  left:2px;
  top:209px;
  width:1031px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u280 {
  position:absolute;
  left:420px;
  top:877px;
  width:134px;
  height:25px;
  color:#FFFFFF;
}
#u281 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u282 {
  position:absolute;
  left:420px;
  top:912px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u283 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u284 {
  position:absolute;
  left:420px;
  top:952px;
  width:454px;
  height:185px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u285 {
  position:absolute;
  left:2px;
  top:18px;
  width:450px;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u286 {
  position:absolute;
  left:420px;
  top:1167px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u289 {
  position:absolute;
  left:1045px;
  top:1417px;
  width:134px;
  height:25px;
  color:#FFFFFF;
}
#u290 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u291 {
  position:absolute;
  left:1045px;
  top:1452px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u292 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:477px;
}
#u293 {
  position:absolute;
  left:0px;
  top:1393px;
  width:1035px;
  height:477px;
  font-size:50px;
}
#u294 {
  position:absolute;
  left:2px;
  top:209px;
  width:1031px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u295 {
  position:absolute;
  left:1045px;
  top:1484px;
  width:454px;
  height:236px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u296 {
  position:absolute;
  left:2px;
  top:13px;
  width:450px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u297 {
  position:absolute;
  left:1045px;
  top:1690px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u298 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:477px;
}
#u300 {
  position:absolute;
  left:884px;
  top:1945px;
  width:1035px;
  height:477px;
  font-size:50px;
}
#u301 {
  position:absolute;
  left:2px;
  top:209px;
  width:1031px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u302 {
  position:absolute;
  left:420px;
  top:1965px;
  width:134px;
  height:25px;
  color:#FFFFFF;
}
#u303 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u304 {
  position:absolute;
  left:420px;
  top:2000px;
  width:178px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u305 {
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u306 {
  position:absolute;
  left:420px;
  top:2040px;
  width:454px;
  height:195px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u307 {
  position:absolute;
  left:2px;
  top:8px;
  width:450px;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u308 {
  position:absolute;
  left:420px;
  top:2259px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u309 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u311 {
  position:absolute;
  left:1045px;
  top:2489px;
  width:134px;
  height:25px;
  color:#FFFFFF;
}
#u312 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u313 {
  position:absolute;
  left:1045px;
  top:2524px;
  width:83px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u314 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:477px;
}
#u315 {
  position:absolute;
  left:0px;
  top:2465px;
  width:1035px;
  height:477px;
  font-size:50px;
}
#u316 {
  position:absolute;
  left:2px;
  top:209px;
  width:1031px;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u317 {
  position:absolute;
  left:1045px;
  top:2556px;
  width:454px;
  height:155px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u318 {
  position:absolute;
  left:2px;
  top:18px;
  width:450px;
  word-wrap:break-word;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u319 {
  position:absolute;
  left:1045px;
  top:2762px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u320 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:477px;
}
#u322 {
  position:absolute;
  left:884px;
  top:2997px;
  width:1035px;
  height:477px;
  font-size:50px;
}
#u323 {
  position:absolute;
  left:2px;
  top:209px;
  width:1031px;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u324 {
  position:absolute;
  left:420px;
  top:3017px;
  width:134px;
  height:25px;
  color:#FFFFFF;
}
#u325 {
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u326 {
  position:absolute;
  left:420px;
  top:3052px;
  width:178px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u327 {
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u328 {
  position:absolute;
  left:420px;
  top:3092px;
  width:454px;
  height:145px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u329 {
  position:absolute;
  left:2px;
  top:20px;
  width:450px;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u330 {
  position:absolute;
  left:420px;
  top:3307px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u331 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
