.aboutcon{
  background:#F3F3F3;
  padding-bottom:50px;
  overflow:hidden;
  .profile{
    margin-top:50px;
  }
  .il_tr{
    max-height:510px;
    .imgLeft{
      float:left;
      max-height:508px;
      width:55%;
      overflow:hidden;
      img{
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
      }
      &:hover img{
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
      }
    }
    .textRight{
      position:relative;
      float:left;
      width:415px;
      height:508px;
      margin-left:28px;
      h2{
        font-size:30px;
        margin-top:20px;
      }
      .text{
        div{
          font-size:14px;
          margin-top:20px;
          line-height:20px;
          height:100px;
          overflow:hidden;
        }
      }
      a{
        font-size:14px;
        font-weight:700;
        border:2px solid #4898ea;
        color:#4898ea;
        padding:10px 20px;
        position:absolute;
        bottom:90px;
      }
    }
  }
  .tl_ir{
    height:510px;
    .textLeft{
      position:relative;
      float:right;
      width:415px;
      height:508px;
      margin-right:28px;
      h2{
        font-size:30px;
        margin-top:20px;
      }
      .text{
        div{
          font-size:14px;
          margin-top:20px;
          line-height:20px;
          height:100px;
          overflow:hidden;
        }
      }
      a{
        font-size:14px;
        font-weight:700;
        border:2px solid #4898ea;
        color:#4898ea;
        padding:10px 20px;
        position:absolute;
        bottom:90px;
      }
    }
    .imgRight{
      width:55%;
      float:right;
      overflow:hidden;
      img{
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
      }
      &:hover img{
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
      }
    }
  }
}