*{
  margin:0;padding:0;font-size:12px;
  a{text-decoration:none}
  ul li{list-style:none}
}
.content{
  padding-bottom:70px;
  .banner{
    position:relative;
    overflow:hidden;
    .banner_con{
      width:100%;
      height:600px;



      .item{
        position:absolute;
        left:0;
        top:0;
        display:none;
        &:nth-child(2n){
          animation: f1 5s
        }
        &:nth-child(2n-1){
          animation: f2 5s
        }
        @keyframes f1{
          0% {transform: scale(1.0);}
          100% {transform: scale(1.05);}
        }
        @keyframes f2{
          from{transform: scale(1.05);}
          to{transform: scale(1.0);}
        }

        img{
          width:100%;
          height:600px;
        }

      }
    }
    .list{
      position:absolute;
      z-index:99;
      width:1100px;
      left:50%;
      margin-left:-550px;
      bottom:30px;

      li{
        float:left;
        height:70px;
        border-left:2px solid #fff;
        width:21%;
        padding-left:10px;
        display:table;

        &.active{
          border-left:2px solid #f00;
        }
        &:hover{
          border-left:2px solid #f00;
        }
        a{
          color:#fff;
          font-size:18px;
          font-weight:700;
          display:inline-block;
          width:100%;
          height:70px;
          display: table-cell;
          vertical-align:middle;
        }


      }
    }
  }
  .company{
    width:1100px;
    height:300px;
    margin:70px auto;
    .brief{
      width:520px;
      border-bottom:1px solid #cbcfce;
      height:30px;
      float:left;
      .breif_title{
        h3{
          font-size:16px;
          color:#333;
          font-weight:700;
          float:left;
        }
        a{
          float:right;
          color:#999;
        }
      }
      .brief_con{
        margin-top:50px;
        a{

          display:inline-block;
          >div{
            width:520px;
            height:130px;
            overflow:hidden;
            img{
              width:520px;
              height:130px;
              transition:0.5s;
              &:hover{
                transform:scale(1.05);
                transition:0.5s;
              }
            }
          }
          p{
            margin-top:22px;
            color:#777;
            height:20px;
            line-height:20px;
          }

        }
      }
    }
    .dynamic{
      width:520px;
      border-bottom:1px solid #cbcfce;
      height:30px;
      float:right;
      .dynamic_title{
        h3{
          font-size:16px;
          color:#333;
          font-weight:700;
          float:left;
        }
        a{
          float:right;
          color:#999;
        }
      }
      .dynamic_con{
        margin-top:50px;
        color:#555;
        .dycon_top{
          .toptext{
            float:left;
            width:305px;
            .textitle{
              font-size:14px;
              font-weight:700;
              width:305px;
              height:32px;
              overflow:hidden;
            }
            .text{
              margin:20px 0;
            }
            span{color:#999;}
          }
          .topimg{
            float:right;
            width:185px;
            height:158px;
            position:relative;
            img{
              width:150px;
              height:100px;
              position:absolute;
              display:none;
              &.curr{
                display:block;
              }
            }
          }
        }
        .dycon_bottom{
          clear:both;
          .bottext{
            li{
              height:20px;
              line-height:20px;
              p{
                float:left;
                width:305px;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
              }
              span{float:right;color:#999}
            }

          }
        }
      }
    }
  }
  .partner{
    width:1100px;
    margin:0 auto;
    i{
      width:380px;
      height:1px;
      background:#606060;
      display:inline-block;
      position:relative;
    }
    .leftline{
      top:30px;
    }
    .rightline{
      top:-35px;
      left:720px;
    }
    h2{
      color:#333;
      font-size:16px;
      width:827px;
      height:50px;
      line-height:50px;
      margin: 0 auto;
      border-top:3px solid #00012a;
      text-align:center;

    }
    .partner_con{
      h5{
        float:left;
        font-size:14px;
        letter-spacing:3px;
        line-height:40px;
        text-align:right;
        width:100px;
      }
      ul{
        height:50px;
        margin:30px 0;
        li{
          float:left;
          width:100px;
          height:50px;
          margin:0 50px;
        }
      }

      a{
        display:inline-block;
        width:100px;
        height:50px;
       background-size:100% 100%;
        &:hover{
          background-size:100% 100%;
        }
      }
      .operator{
        ul{
          .yd{
            a{
              background:url("../img/index/yidong.png") no-repeat center;
              background-size:100% 100%;
              &:hover{
                background:url("../img/index/yidong-click.png") no-repeat center;
                background-size:100% 100%;
              }
            }

          }
          .dx{
            a{
              background:url("../img/index/dianxin.png") no-repeat center;
              background-size:100% 100%;
              &:hover{
                background:url("../img/index/dianxin-click.png") no-repeat center;
                background-size:100% 100%;
              }
            }
          }
          .lt{
            a{
              background:url("../img/index/liantong.png") no-repeat center;
              background-size:100% 100%;
              &:hover{
                background:url("../img/index/liantong-click.png") no-repeat center;
                background-size:100% 100%;
              }
            }
          }
        }
      }
      .vender{
        .hw{
          a{
            background:url("../img/index/huawei.png") no-repeat center;
            background-size:100% 100%;
            &:hover{
              background:url("../img/index/huawei-click.png") no-repeat center;
              background-size:100% 100%;
            }
          }
        }
        .zx{
          a{
            background:url("../img/index/zhongxing.png") no-repeat center;
            background-size:100% 100%;
            &:hover{
              background:url("../img/index/zhongxing-click.png") no-repeat center;
              background-size:100% 100%;
            }
          }
        }
        .dtyd{
          a{
            background:url("../img/index/damoblle.png") no-repeat center;
            background-size:100% 100%;
            &:hover{
              background:url("../img/index/damoblle-click.png") no-repeat center;
              background-size:100% 100%;
            }
          }
        }
        .nokia{
          a{
            background:url("../img/index/nokia.png") no-repeat center;
            background-size:100% 100%;
            &:hover{
              background:url("../img/index/nokia-click.png") no-repeat center;
              background-size:100% 100%;
            }
          }
        }
        .erisson{
          a{
            background:url("../img/index/ericsson.png") no-repeat center;
            background-size:100% 100%;
            &:hover{
              background:url("../img/index/ericsson-click.png") no-repeat center;
              background-size:100% 100%;
            }
          }
        }
      }
      .govt{
        .gov{
          a{
            background:url("../img/index/img.png") no-repeat center;
            background-size:100% 100%;
            &:hover{
              background:url("../img/index/img1-click.png") no-repeat center;
              background-size:100% 100%;
            }
          }
        }
      }
    }
  }
}