.joinCon{
  background:#F3F3F3;
  padding-bottom:80px;
    .joinsear{
      width:1100px;
      margin:0 auto;
      padding:30px 0 20px;
      span{
        display:inline-block;
        width:82px;
        height:32px;
        font-size:14px;
        color:#fff;
        background:#4898ea;
        line-height:32px;
        text-align:center;
        float:left;
        font-weight:700;
      }
      .sear_input{
        float:left;
        width:368px;
        border:1px solid #4898ea;
        height:32px;
        line-height:32px;
        margin-right:30px;
        border-radius:3px;
        select{
          width:286px;
          background:#F3F3F3;
          float:left;
          height:32px;
        }
        input{
          height:30px;
          border:none;
          width:286px;
          text-indent:5px;
          background:#F3F3F3;
        }
      }
      button{
        width:68px;
        height:32px;
        border:1px solid #4898ea;
        background:url("/html/img/search.png");
        border-radius:2px;
      }
    }
    .t_head{
      background:#fff;
      height:45px;
      line-height:45px;
      ul{
        width:1100px;
        margin:0 auto;
        li{
          float:left;
          width:33%;
          font-size:16px;
          font-weight:700;
          text-indent:5px;
          &:nth-child(3){
            padding-left:5px;
          }
        }
      }
    }
  table{
    width:1100px;
    margin:0 auto;
    tbody{
      td{
        width:30%;
        height:46px;
        line-height:46px;
        font-size:14px;
        border-bottom:1px solid #dfdfdf;
        text-indent:5px;
        &:nth-child(2){
          padding-left:15px;
        }
        a{
          font-size:14px;
          color:#444;
        }
      }
    }
  }
}