.recruitCon{

  .banner{
    background:#f3f3f3;
    width:100%;
    height:600px;
  }
  .recruitMain{
    width:1100px;
    margin:10px auto 60px;
    overflow:hidden;
    .recruit_l{
      width:750px;
      float:left;
      h3{
        color:#4898ea;
        font-size:16px;
        margin:30px 0 10px;
      }
      .position{
        border-bottom:1px solid #dadada;
        padding-bottom:30px;
        overflow:hidden;
        >div{
          color:#777;
          font-size:14px;
          float:left;
          margin:10px 130px 10px 0;
          font-weight:bold;
          span{
            color:#444;
            font-size:14px;
          }
        }
      }
      .work{
        width:100%;
        p{
          font-size:14px;
          line-height:25px;
          color:#444;
          font-weight:700;
        }
      }
    }
    .recruit_r{
      float:left;
      margin-left:50px;
      margin-top:30px;
      width:300px;
      h4{
        font-size:16px;
        color:#333;
        margin-bottom:10px;
      }
      .label{
        padding-left:20px;

        a{
          display:inline-block;
          height:30px;
          line-height:30px;
          font-size:14px;
          padding:0 20px;
          color:#fff;
          background:#4898ea;
          transform:skew(-20deg);
          margin:3px 0;
          span{
            display:inline-block;
            transform:skew(20deg);
          }
        }
      }
      .recommend{
        padding-left:20px;
        h4{
          margin-top:20px;
          border-bottom:1px solid #ddd;
          padding:14px 0;
          position:relative;
          i{
            display:inline-block;
            width:35px;
            border-bottom:2px solid #ea4848;
            position:absolute;
            bottom:0;
            left:0;
          }
        }
        ul{
          li{
            height:60px;
            width:100%;
            text-indent:10px;
            &:nth-child(2n){
              background:#e6e6e6;
            }
            &.active{
              border-left:2px solid #ea4848;
            }
            a{
              display:inline-block;
              width:100%;
              height:26px;
              color:#777;
              padding:17px 0;
              text-indent:0;

              p{
                color:#444;
                font-weight:700;
              }
            }
          }
        }
      }
    }
  }
}