.centainer{
	width:100%;min-width:1200px;height:auto;margin-top:57px;
}
.list{
	width:224px;height:39px;line-height:39px;text-align:center;font-size:14px;color:#0164ad;font-weight:bold;border:1px #bcff6b  solid;border-top:none;margin:0 auto 22px;
}

.compete{
	width:1200px;margin:0 auto;height:auto;border-top:1px #bcff6b solid;
}
.centainer .compete_info{
	font-size:0;
}
.centainer img{
	margin:0 0 49px 111px;
}
/*-----------------------compete结束----------------*/

.approval{
	width:1200px;height:auto;margin:0 auto 61px;border-top:1px #bcff6b solid;
}
.approval .reason{
	width:990px;height:auto;margin:0 auto;background:url(../Images/inner/reason_bg.jpg) no-repeat;padding:10px 0;
}
.approval .reason p{
	font-size:14px;line-height:2.5;text-indent:2em;margin:0 10px;
}
/*-----------------------approval结束----------------*/
