.list{
	width:224px;height:39px;line-height:39px;text-align:center;font-size:14px;color:#0164ad;font-weight:bold;border:1px #bcff6b  solid;border-top:none;margin:0 auto 22px;
}
.contacus{
	width:1200px;height:auto;margin:57px auto 108px;border-top:1px #bcff6b solid;
}
.contacus_info{
	width:1000px;margin:0 auto;
}
.contacus_info_L{
	float:left;
}
.contacus_info p{
	line-height:3;font-size:14px;
}
.contacus_info_R{
	width:381px;float:right;line-height:2;
}
.contacus_info_R label{
	font-size:14px;float:left;width:80px;
}
.contacus_info input{
	width:289px;height:19px;
}
.mas{
	width:1025px;height:458px;margin:72px auto 0;
}
/*-----------------------contacus结束----------------*/