/*------------------------ProductCore_html--------------------------*/

.product{
	width:1200px;
	height:auto;
	margin:0 auto;
	border-top:1px #b3d63d solid;
	text-align:center;
	margin-top:57px;
 }
.pro_list a{
	display:inline-block;
	width:124px;
	height:38px;
	line-height:38px;
	font-size:14px;
	border:1px black solid;
	border-top:none;
	margin-left:21px;
 }
.pro_list a:hover{
	border-color:#b3d63d;
	color:#b3d63d;
}
#pro_info{
	width:1200px;
	height:auto;
	margin:auto;
	overflow:hidden;
}
.product ul{
	display:none;
	height:auto;
	margin:38px auto 0;
}
.product ul li{
	display:inline-block;
	width:275px;
}
.pro_info_01 a{
	display:block;
	width:273px;
	height:203px;
	border:1px white solid;
}
.pro_info_01 li{
	margin-right:115px;
}
.pro_info_01 a:hover{
	border:1px solid gray;
}
.a_list{
	margin:70px 0 85px 0;
}
.a_list a{
	display:inline-block;
	font-size:14px;
}
.a_list a:hover{
	color:#bfdc66;
}
.a_frist{
	margin-right:24px;
}
.a_number{
	border:1px solid #dcdcdc;
	width:14px;
	margin-right:6px;
	text-align:center;
}
.a_last{
	width:44px;
	border:1px solid #dcdcdc;
	text-align:center;
}
.a_down{
	margin-left:26px;
}
#pro_list_01{
	border-color:#b3d63d;
	color:#b3d63d;
}
#pro_info_01{
	display:block;
}
