body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
}
#u736 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u737 {
  position:absolute;
  left:420px;
  top:42px;
  width:130px;
  height:80px;
}
#u738 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:1330px;
  top:28px;
  width:160px;
  height:25px;
  color:#FFFFFF;
}
#u740 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u741 {
  position:absolute;
  left:1113px;
  top:21px;
  width:39px;
  height:39px;
  color:#FFFFFF;
}
#u742 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u744 {
  position:absolute;
  left:929px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u745 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u746 {
  position:absolute;
  left:1162px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u747 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u748 {
  position:absolute;
  left:1041px;
  top:135px;
  width:84px;
  height:25px;
  color:#000000;
}
#u749 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u750 {
  position:absolute;
  left:1266px;
  top:138px;
  width:84px;
  height:20px;
  color:#000000;
}
#u751 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u752 {
  position:absolute;
  left:1394px;
  top:138px;
  width:84px;
  height:20px;
  color:#000000;
}
#u753 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u754 {
  position:absolute;
  left:420px;
  top:206px;
  width:84px;
  height:25px;
  font-size:20px;
  color:#000000;
}
#u755 {
  position:absolute;
  left:2px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:527px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  position:absolute;
  left:0px;
  top:241px;
  width:1919px;
  height:527px;
}
#u757 {
  position:absolute;
  left:2px;
  top:256px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u759 {
  position:absolute;
  left:0px;
  top:768px;
  width:1919px;
  height:569px;
  font-size:12px;
}
#u760 {
  position:absolute;
  left:2px;
  top:276px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:221px;
}
#u761 {
  position:absolute;
  left:0px;
  top:768px;
  width:1919px;
  height:221px;
  font-size:12px;
}
#u762 {
  position:absolute;
  left:2px;
  top:102px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u763 {
  position:absolute;
  left:942px;
  top:893px;
  width:130px;
  height:33px;
  font-size:12px;
}
#u764 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:770px;
  top:820px;
  width:468px;
  height:40px;
}
#u766 {
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u767 {
  position:absolute;
  left:770px;
  top:794px;
  width:468px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u768 {
  position:absolute;
  left:2px;
  top:12px;
  width:464px;
  word-wrap:break-word;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u770 {
  position:absolute;
  left:420px;
  top:1023px;
  width:64px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u771 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u772 {
  position:absolute;
  left:420px;
  top:1063px;
  width:312px;
  height:122px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u773 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u775 {
  position:absolute;
  left:754px;
  top:1023px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u776 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u777 {
  position:absolute;
  left:781px;
  top:1073px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u778 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u779 {
  position:absolute;
  left:872px;
  top:1073px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u780 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u781 {
  position:absolute;
  left:962px;
  top:1073px;
  width:86px;
  height:31px;
  color:#FFFFFF;
}
#u782 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u784 {
  position:absolute;
  left:1077px;
  top:1023px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u785 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  position:absolute;
  left:1093px;
  top:1093px;
  width:189px;
  height:55px;
}
#u788 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u789 {
  position:absolute;
  left:1089px;
  top:1055px;
  width:84px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u790 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u792 {
  position:absolute;
  left:1093px;
  top:1198px;
  width:341px;
  height:55px;
}
#u793 {
  position:absolute;
  left:2px;
  top:20px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u794 {
  position:absolute;
  left:1079px;
  top:1158px;
  width:67px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u795 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  position:absolute;
  left:1310px;
  top:1093px;
  width:189px;
  height:55px;
}
#u798 {
  position:absolute;
  left:2px;
  top:20px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u799 {
  position:absolute;
  left:1301px;
  top:1055px;
  width:84px;
  height:40px;
  font-size:14px;
  color:#CCCCCC;
}
#u800 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u801 {
  position:absolute;
  left:1093px;
  top:1277px;
  width:130px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
}
#u802 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u803 {
  position:absolute;
  left:1180px;
  top:28px;
  width:160px;
  height:25px;
  color:#FFFFFF;
}
#u804 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u806 {
  position:absolute;
  left:410px;
  top:279px;
  width:84px;
  height:25px;
  color:#000000;
}
#u807 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u808 {
  position:absolute;
  left:494px;
  top:272px;
  width:300px;
  height:39px;
}
#u808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u808_input:disabled {
  color:grayText;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u809 {
  position:absolute;
  left:815px;
  top:273px;
  width:98px;
  height:40px;
  color:#FFFFFF;
}
#u810 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:0px;
  top:335px;
  width:1919px;
  height:43px;
}
#u812 {
  position:absolute;
  left:2px;
  top:14px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u813 {
  position:absolute;
  left:410px;
  top:344px;
  width:84px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u814 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u815 {
  position:absolute;
  left:890px;
  top:344px;
  width:84px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u816 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u818 {
  position:absolute;
  left:420px;
  top:443px;
  width:1079px;
  height:1px;
}
#u819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u820 {
  position:absolute;
  left:410px;
  top:406px;
  width:118px;
  height:25px;
  color:#000000;
}
#u821 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u822 {
  position:absolute;
  left:876px;
  top:406px;
  width:118px;
  height:25px;
  color:#000000;
}
#u823 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u824 {
  position:absolute;
  left:1251px;
  top:406px;
  width:118px;
  height:25px;
  color:#000000;
}
#u825 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u826 {
  position:absolute;
  left:1265px;
  top:344px;
  width:84px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u827 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u829 {
  position:absolute;
  left:420px;
  top:500px;
  width:1079px;
  height:1px;
}
#u830 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u831 {
  position:absolute;
  left:410px;
  top:463px;
  width:118px;
  height:25px;
  color:#000000;
}
#u832 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u833 {
  position:absolute;
  left:876px;
  top:463px;
  width:118px;
  height:25px;
  color:#000000;
}
#u834 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u835 {
  position:absolute;
  left:1251px;
  top:463px;
  width:118px;
  height:25px;
  color:#000000;
}
#u836 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u838 {
  position:absolute;
  left:420px;
  top:554px;
  width:1079px;
  height:1px;
}
#u839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u840 {
  position:absolute;
  left:410px;
  top:517px;
  width:118px;
  height:25px;
  color:#000000;
}
#u841 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u842 {
  position:absolute;
  left:876px;
  top:517px;
  width:118px;
  height:25px;
  color:#000000;
}
#u843 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u844 {
  position:absolute;
  left:1251px;
  top:517px;
  width:118px;
  height:25px;
  color:#000000;
}
#u845 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u847 {
  position:absolute;
  left:420px;
  top:609px;
  width:1079px;
  height:1px;
}
#u848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u849 {
  position:absolute;
  left:410px;
  top:572px;
  width:118px;
  height:25px;
  color:#000000;
}
#u850 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u851 {
  position:absolute;
  left:876px;
  top:572px;
  width:118px;
  height:25px;
  color:#000000;
}
#u852 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u853 {
  position:absolute;
  left:1251px;
  top:572px;
  width:118px;
  height:25px;
  color:#000000;
}
#u854 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u856 {
  position:absolute;
  left:420px;
  top:661px;
  width:1079px;
  height:1px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u858 {
  position:absolute;
  left:410px;
  top:624px;
  width:118px;
  height:25px;
  color:#000000;
}
#u859 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u860 {
  position:absolute;
  left:876px;
  top:624px;
  width:118px;
  height:25px;
  color:#000000;
}
#u861 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u862 {
  position:absolute;
  left:1251px;
  top:624px;
  width:118px;
  height:25px;
  color:#000000;
}
#u863 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u865 {
  position:absolute;
  left:420px;
  top:727px;
  width:1079px;
  height:1px;
}
#u866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u867 {
  position:absolute;
  left:410px;
  top:690px;
  width:118px;
  height:25px;
  color:#000000;
}
#u868 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u869 {
  position:absolute;
  left:876px;
  top:690px;
  width:118px;
  height:25px;
  color:#000000;
}
#u870 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u871 {
  position:absolute;
  left:1251px;
  top:690px;
  width:118px;
  height:25px;
  color:#000000;
}
#u872 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
